body{
    margin: 25px;
    border:3px solid;
    border-radius: 5px;
    display: flow-root;
}
.box{
    border: 5px solid;
    border-radius: 4px;
    border-color: rgb(0, 0, 0);
    font-size: 30px;
    width: auto;
    
    margin-left: 10px;
    margin-right: 10px;
    color:white;
    display:inline-block;

   
}
#box1{
    background-color: rgb(153, 43, 43);
    margin-bottom: 4px;
   
}
#box2{
    background-color: rgb(45, 45, 153);

  
}
#img1{
    float: left;
    margin: 10px;
    border: 5px solid;
    border-radius: 4px;
    border-color: rgb(0, 0, 0);
}
#img2{
    float: right;
    margin: 10px;
    border: 5px solid;
    border-radius: 4px;
    border-color: rgb(0, 0, 0);
    
}
.margin{
    margin: 10px; 
    text-decoration: none;  
}
.boxtext{
    margin: 10px;
    font-size: 26px;
}
#header{
    font-size: 53px;
}