body{
    background-color: rgb(85, 70, 85);
}
#p5{
    color:rgb(101, 222, 255);
}
#p6{
    color:#59ff5f;
}
#p7{
    color:hsl(2, 90%, 40%)
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border-color: yellow;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    text-shadow: 3px 3.25px black, 3.75px 4px rgb(163, 54, 54);
    
    
}
#p3{
    border: 5px solid hsl(2, 90%, 40%);
    border-radius:3px;
}
#p8{
    font-size: 32px;
    color: rgb(177, 130, 220);
    
    border-bottom: 3px solid rgb(101, 222, 255);
    border-top: 3px solid rgb(255, 255, 255);
    border-left: 3px double rgb(255, 0, 238);
    border-right: 3px double rgb(255, 0, 238);

    border-radius: 10px;
}
#box1{
    width: 1905px;
    height: 100px;
    background-color: rgb(110, 110, 110);
    box-shadow:4px 4px 5px black;  
}