body{
    background-color: rgb(85, 70, 85);
}
#p5{
    color:rgb(101, 222, 255);
}
#p6{
    color:#59ff5f;
}
#p7{
    color:hsl(2, 90%, 40%)
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border-color: yellow;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
}
