body{
    margin: 15px;
    border:3px solid;
    border-radius: 5px;
    display: flow-root;
}
.box{
    border: 5px solid;
    font-size: 30px;
    width: 855px;
    height: 250px;
    margin: auto;
   
}
#box1{
    background-color: red;
   
}
#box2{
    background-color: blue;
  
}
#img1{
    float: left;
    margin: 10px;

}
#img2{
    float: right;
   margin: 10px;
    
}