@font-face{
    font-family: BriemHand;
    src: url(fonts/BriemHand-VariableFont_wght.ttf);
}
#p1{
    color: red;
    font-family: "lucida console", ;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
#p2{
    color:blue;
    font-family: BriemHand, cursive;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
    font-size: 28px;
    
}
.bottom{
    color:orange;
    text-align: center;
    max-width: fit-content;
}
